fastpubsub_database_url='postgresql+psycopg://fastpubsub:fastpubsub@localhost:5432/fastpubsub'
fastpubsub_database_echo='false'
fastpubsub_database_pool_size='5'
fastpubsub_database_max_overflow='10'
fastpubsub_database_pool_pre_ping='true'

fastpubsub_log_level='debug'
fastpubsub_log_formatter='asctime=%(asctime)s level=%(levelname)s pathname=%(pathname)s line=%(lineno)s message=%(message)s'

fastpubsub_subscription_max_attempts='5'
fastpubsub_subscription_backoff_min_seconds='5'
fastpubsub_subscription_backoff_max_seconds='300'

fastpubsub_cleanup_acked_messages_older_than_seconds='3600'
fastpubsub_cleanup_stuck_messages_lock_timeout_seconds='60'

fastpubsub_api_debug='true'
fastpubsub_api_host='127.0.0.1'
fastpubsub_api_port='8000'
fastpubsub_api_num_workers='1'

fastpubsub_auth_enabled='false'
fastpubsub_auth_secret_key='my-super-secret-key'
fastpubsub_auth_algorithm='HS256'
fastpubsub_auth_access_token_expire_minutes='30'
